.pagination {
  display: grid;
  gap: 0.5em;
  grid-auto-flow: column;
  justify-content: center;
  list-style: none;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  padding: 0;
}

.pagination__link {
  border: 1px solid;
  display: inline-block;
  min-width: 2.33em;
  padding: 0.25em 0.5em;
  text-align: center;
}
