.project__caption {
  background-color: rgba(0, 0, 0, 0.9);
  bottom: 0;
  color: #fafafa;
  display: grid;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 1.5em;
  place-items: center;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transition: opacity 0.5s;
}

.project__figure {
  position: relative;
}

.project__title {
  transform: translateY(20%);
  transition: transform 0.75s;
}

.project__link:focus .project__caption,
.project__link:hover .project__caption {
  opacity: 1;
}

.project__link:focus .project__title,
.project__link:hover .project__title {
  transform: translateY(0);
}
