h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 5rem;
  line-height: 1.125;
  margin-bottom: 0.125em;
  margin-top: 0;
}

h2 {
  font-size: 4rem;
  line-height: 1.125;
  margin-bottom: 0.5em;
  margin-top: 0;
  max-width: 740px;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.25;
  margin-bottom: 0;
  margin-top: 3em;
  max-width: 640px;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

h5 {
  font-size: 1.25rem;
  margin-bottom: 0;
  margin-top: 0.5em;
}

h6 {
  font-size: 1.125rem;
  margin-bottom: 0;
  margin-top: 0.5em;
}

div + h2,
div + h3,
p + h2,
p + h3 {
  margin-top: 3em;
}

h2 + h3 {
  margin-top: 0;
}
