.typography--text-align-center {
  text-align: center;
}

.typography--text-align-center p {
  margin-left: auto;
  margin-right: auto;
}

.typography--text-align-left {
  text-align: left;
}

.typography--text-align-right {
  text-align: right;
}
