.section {
  align-items: center;
  display: flex;
  padding-bottom: 10em;
  padding-top: 10em;
}

.section--dark {
  /* background-color: #0a0a0a; */
  background-image: radial-gradient(#24252e, #1a1c21);
  color: #f8f9fb;
}

.section--full {
  min-height: 100vh;
}

.section--light {
  background-color: #eee;
}
